{
    "openapi": "3.1.0",
    "info": {
        "title": "Project API Reference",
        "version": "1.0",
        "contact": {
            "name": "Romit",
            "email": "romit@aisensy.com"
        },
        "summary": "Project API is intended for AiSensy Users & Partners  to programmatically manage Projects",
        "description": "You can create Contacts, Agents, Submit Template Messages, WA Messaging & more."
    },
    "servers": [
        {
            "url": "https://apis.aisensy.com/project-apis/v1/",
            "description": "Project APIs"
        }
    ],
    "paths": {
        "/business/{business_id}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "business_id",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Get Business Profile by Id",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Business"
                                },
                                "examples": {
                                    "Business Profile": {
                                        "value": {
                                            "id": "61f0624bcf0a58553378ceb4",
                                            "active": true,
                                            "display_name": "qwerty 1",
                                            "project_ids": [
                                                "61f06252cf0a58553378ceb5"
                                            ],
                                            "user_name": "ankitkumarguptapr2@gmail.com",
                                            "business_id": "61f0624bcf0a58553378ceb4",
                                            "email": "ankitkumarguptapr2@gmail.com",
                                            "created_at": 1643143755321,
                                            "updated_at": 1643143755321,
                                            "company": "Shop XY",
                                            "contact": "918116856134",
                                            "currency": "INR",
                                            "timezone": "Asia/Calcutta",
                                            "type": "owner"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "example-1": {
                                            "name": "ERR400",
                                            "message": "Invalid Business ID!"
                                        }
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "name": "ERR400",
                                            "message": "Invalid Business ID!"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "example-1": {
                                            "name": "ERR400",
                                            "message": "Invalid Business ID!"
                                        }
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "name": "ERR404",
                                            "message": "Business doesn't exists!"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "name": "ERR500",
                                            "message": "Internal server error!"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-business-profile-businessProfileId",
                "description": "Get the details of business registered on AiSensy. ",
                "tags": [
                    "Business"
                ],
                "parameters": []
            }
        },
        "/project/{project_id}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "project_id",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Get Project by Id",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "id": "620a9b3051211d275085772c",
                                            "name": "MakeMyDay-Gurgaon",
                                            "project_owner_id": "620a9b3051211d275085772c",
                                            "partner_id": "620a9b3051211d275085772c",
                                            "plan_activated_on": 1646391138000,
                                            "status": "active",
                                            "sandbox": false,
                                            "active_plan": "basic_monthly_tier_1",
                                            "created_at": 1643746671197,
                                            "updated_at": 1648825230627,
                                            "plan_renewal_on": 1649069538000,
                                            "scheduled_subscription_changes": "string",
                                            "mau_quota": 2000,
                                            "mau_usage": 78,
                                            "credit": 55000000,
                                            "wa_number": "447458197537",
                                            "wa_messaging_tier": "tier_1",
                                            "wa_display_name_status": "verified",
                                            "fb_business_manager_status": "verified",
                                            "wa_display_name": "MakeMyDay",
                                            "wa_quality_rating": "low",
                                            "wa_about": "Official WhatsApp Business Account  powered⚡ by AiSensy",
                                            "wa_display_image": "https://tinyurl.com/2p98pzrh",
                                            "wa_business_profile": {
                                                "address": "Panvel",
                                                "description": "Your Day Manager- All Under One Roof",
                                                "email": "support@makemyday.com",
                                                "vertical": "",
                                                "websites": [
                                                    "https://makemyday.com"
                                                ]
                                            },
                                            "billing_currency": "INR",
                                            "timezone": "Asia/Calcutta GMT+05:30"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "example-1": {
                                            "name": "ERR400",
                                            "message": "Invalid Business ID!"
                                        }
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "name": "ERR404",
                                            "message": "Project doesn't exists!"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "name": "ERR500",
                                            "message": "Internal server error!"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "",
                "description": "Get all details of a project on AiSensy. ",
                "parameters": [],
                "tags": [
                    "Project"
                ]
            },
            "get - copy 2": {
                "summary": "Get Project by Id",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "id": "620a9b3051211d275085772c",
                                            "name": "MakeMyDay-Gurgaon",
                                            "project_owner_id": "620a9b3051211d275085772c",
                                            "partner_id": "620a9b3051211d275085772c",
                                            "plan_activated_on": 1646391138000,
                                            "status": "active",
                                            "sandbox": false,
                                            "active_plan": "basic_monthly_tier_1",
                                            "created_at": 1643746671197,
                                            "updated_at": 1648825230627,
                                            "plan_renewal_on": 1649069538000,
                                            "scheduled_subscription_changes": "string",
                                            "mau_quota": 2000,
                                            "mau_usage": 78,
                                            "credit": 55000000,
                                            "wa_number": "447458197537",
                                            "wa_messaging_tier": "tier_1",
                                            "wa_display_name_status": "verified",
                                            "fb_business_manager_status": "verified",
                                            "wa_display_name": "MakeMyDay",
                                            "wa_quality_rating": "low",
                                            "wa_about": "Official WhatsApp Business Account  powered⚡ by AiSensy",
                                            "wa_display_image": "https://tinyurl.com/2p98pzrh",
                                            "wa_business_profile": {
                                                "address": "Panvel",
                                                "description": "Your Day Manager- All Under One Roof",
                                                "email": "support@makemyday.com",
                                                "vertical": "",
                                                "websites": [
                                                    "https://makemyday.com"
                                                ]
                                            },
                                            "billing_currency": "INR",
                                            "timezone": "Asia/Calcutta GMT+05:30"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "example-1": {
                                            "name": "ERR400",
                                            "message": "Invalid Business ID!"
                                        }
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "name": "ERR404",
                                            "message": "Project doesn't exists!"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "name": "ERR500",
                                            "message": "Internal server error!"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "",
                "description": "Get all details of a project on AiSensy. ",
                "parameters": [],
                "tags": [
                    "Project"
                ]
            },
            "get - copy": {
                "summary": "Get Project by Id",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "id": "620a9b3051211d275085772c",
                                            "name": "MakeMyDay-Gurgaon",
                                            "project_owner_id": "620a9b3051211d275085772c",
                                            "partner_id": "620a9b3051211d275085772c",
                                            "plan_activated_on": 1646391138000,
                                            "status": "active",
                                            "sandbox": false,
                                            "active_plan": "basic_monthly_tier_1",
                                            "created_at": 1643746671197,
                                            "updated_at": 1648825230627,
                                            "plan_renewal_on": 1649069538000,
                                            "scheduled_subscription_changes": "string",
                                            "mau_quota": 2000,
                                            "mau_usage": 78,
                                            "credit": 55000000,
                                            "wa_number": "447458197537",
                                            "wa_messaging_tier": "tier_1",
                                            "wa_display_name_status": "verified",
                                            "fb_business_manager_status": "verified",
                                            "wa_display_name": "MakeMyDay",
                                            "wa_quality_rating": "low",
                                            "wa_about": "Official WhatsApp Business Account  powered⚡ by AiSensy",
                                            "wa_display_image": "https://tinyurl.com/2p98pzrh",
                                            "wa_business_profile": {
                                                "address": "Panvel",
                                                "description": "Your Day Manager- All Under One Roof",
                                                "email": "support@makemyday.com",
                                                "vertical": "",
                                                "websites": [
                                                    "https://makemyday.com"
                                                ]
                                            },
                                            "billing_currency": "INR",
                                            "timezone": "Asia/Calcutta GMT+05:30"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "example-1": {
                                            "name": "ERR400",
                                            "message": "Invalid Business ID!"
                                        }
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "name": "ERR404",
                                            "message": "Project doesn't exists!"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "name": "ERR500",
                                            "message": "Internal server error!"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "",
                "description": "Get all details of a project on AiSensy. ",
                "parameters": [],
                "tags": [
                    "Project"
                ]
            }
        },
        "/project/{project_id}/messages": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "project_id",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "project_id",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "project_id",
                    "in": "path",
                    "required": true
                }
            ],
            "post": {
                "summary": "Send Message",
                "operationId": "post-project-project_id-messages",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messaging_product": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "input": {
                                                        "type": "string"
                                                    },
                                                    "wa_id": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "messages": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "messaging_product": "whatsapp",
                                            "contacts": [
                                                {
                                                    "input": "918851944381",
                                                    "wa_id": "918851944381"
                                                }
                                            ],
                                            "messages": [
                                                {
                                                    "id": "wamid.HBgMOTE4ODUxOTQ0MzgxFQIAERgSRkMwRDFGM0FCRDI5ODVEREQ3AA=="
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "messaging_product": "whatsapp",
                                        "recipient_type": "individual",
                                        "to": "{{Recipient-Phone-Number}}",
                                        "type": "template",
                                        "text": {
                                            "preview_url": false,
                                            "body": "text-message-content"
                                        },
                                        "image": {
                                            "link": "http(s)://image-url"
                                        },
                                        "document": {
                                            "link": "<http(s)://document-url>",
                                            "caption": "<DOCUMENT_CAPTION_TEXT>"
                                        },
                                        "template": {
                                            "name": "template-name",
                                            "language": {
                                                "code": "language-and-locale-code"
                                            },
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "image",
                                                            "image": {
                                                                "link": "http(s)://the-image-url"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "text-string"
                                                        },
                                                        {
                                                            "type": "currency",
                                                            "currency": {
                                                                "fallback_value": "$100.99",
                                                                "code": "USD",
                                                                "amount_1000": 100990
                                                            }
                                                        },
                                                        {
                                                            "type": "date_time",
                                                            "date_time": {
                                                                "fallback_value": "February 25, 1977",
                                                                "day_of_week": 5,
                                                                "year": 1977,
                                                                "month": 2,
                                                                "day_of_month": 25,
                                                                "hour": 15,
                                                                "minute": 33,
                                                                "calendar": "GREGORIAN"
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "properties": {
                                    "messaging_product": {
                                        "type": "string"
                                    },
                                    "recipient_type": {
                                        "type": "string"
                                    },
                                    "to": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "text": {
                                        "type": "object",
                                        "properties": {
                                            "preview_url": {
                                                "type": "boolean"
                                            },
                                            "body": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "image": {
                                        "type": "object",
                                        "properties": {
                                            "link": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "document": {
                                        "type": "object",
                                        "properties": {
                                            "link": {
                                                "type": "string"
                                            },
                                            "caption": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "template": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "language": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "components": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "parameters": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "image": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "link": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    },
                                                                    "text": {
                                                                        "type": "string"
                                                                    },
                                                                    "currency": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "fallback_value": {
                                                                                "type": "string"
                                                                            },
                                                                            "code": {
                                                                                "type": "string"
                                                                            },
                                                                            "amount_1000": {
                                                                                "type": "integer"
                                                                            }
                                                                        }
                                                                    },
                                                                    "date_time": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "fallback_value": {
                                                                                "type": "string"
                                                                            },
                                                                            "day_of_week": {
                                                                                "type": "integer"
                                                                            },
                                                                            "year": {
                                                                                "type": "integer"
                                                                            },
                                                                            "month": {
                                                                                "type": "integer"
                                                                            },
                                                                            "day_of_month": {
                                                                                "type": "integer"
                                                                            },
                                                                            "hour": {
                                                                                "type": "integer"
                                                                            },
                                                                            "minute": {
                                                                                "type": "integer"
                                                                            },
                                                                            "calendar": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "to",
                                    "type"
                                ]
                            },
                            "examples": {
                                "Text Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "text",
                                        "recipient_type": "individual",
                                        "text": {
                                            "body": "sample query from user?"
                                        }
                                    }
                                },
                                "Image Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "image",
                                        "image": {
                                            "caption": "Your image caption here",
                                            "link": "https://images.pexels.com/photos/616838/pexels-photo-616838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                        }
                                    }
                                },
                                "Video Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "video",
                                        "video": {
                                            "caption": "Your video caption here",
                                            "link": "https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4"
                                        }
                                    }
                                },
                                "Audio Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "audio",
                                        "audio": {
                                            "link": "https://actions.google.com/sounds/v1/alarms/digital_watch_alarm_long.ogg"
                                        }
                                    }
                                },
                                "Document Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "document",
                                        "document": {
                                            "caption": "Your document caption here",
                                            "link": "https://www.clickdimensions.com/links/TestPDFfile.pdf",
                                            "filename": "wds"
                                        }
                                    }
                                },
                                "Template - TEXT": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en_us"
                                            },
                                            "name": "sample_shipping_confirmation",
                                            "components": [
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "6-7"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template -  IMAGE": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "sample_image_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "image",
                                                            "image": {
                                                                "link": "https://images.pexels.com/photos/616838/pexels-photo-616838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - VIDEO": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "video_type_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "video",
                                                            "video": {
                                                                "link": "https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - DOCUMENT": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "document_type_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "document",
                                                            "document": {
                                                                "link": "https://www.clickdimensions.com/links/TestPDFfile.pdf",
                                                                "filename": "qwerty"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Header & Footer": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "header_footer_type_template",
                                            "components": []
                                        }
                                    }
                                },
                                "Template - Button - Call To Action [Phone Number, URL]": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "cta_button_type_template1",
                                            "components": [
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-url"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Button - Quick Reply": {
                                    "value": {
                                        "to": "918116856153",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "quicky_reply_type_template",
                                            "components": []
                                        }
                                    }
                                },
                                "Template - MIXED": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "complex_type_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "video",
                                                            "video": {
                                                                "link": "https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-link"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Interactive Single Product": {
                                    "value": {
                                        "recipient_type": "individual",
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "product",
                                            "body": {
                                                "text": "Body text of interactive msg here"
                                            },
                                            "footer": {
                                                "text": "Interactive Msg Footer"
                                            },
                                            "action": {
                                                "catalog_id": "570881508310768",
                                                "product_retailer_id": "someId15"
                                            }
                                        }
                                    }
                                },
                                "Interactive Multi-Products": {
                                    "value": {
                                        "recipient_type": "individual",
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "product_list",
                                            "header": {
                                                "type": "text",
                                                "text": "Interactive Msg Header"
                                            },
                                            "body": {
                                                "text": "Body text of interactive msg here"
                                            },
                                            "footer": {
                                                "text": "Interactive Msg Footer"
                                            },
                                            "action": {
                                                "catalog_id": "1242162653103312",
                                                "sections": [
                                                    {
                                                        "title": "Earings",
                                                        "product_items": [
                                                            {
                                                                "product_retailer_id": "44347337697575"
                                                            },
                                                            {
                                                                "product_retailer_id": "44347336419623"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "title": "Apparels",
                                                        "product_items": [
                                                            {
                                                                "product_retailer_id": "44237374004519"
                                                            },
                                                            {
                                                                "product_retailer_id": "44237514808615"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                },
                                "Interactive - Draft Flow": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "recipient_type": "individual",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "flow",
                                            "header": {
                                                "type": "text",
                                                "text": "Not shown in draft mode"
                                            },
                                            "body": {
                                                "text": "Not shown in draft mode"
                                            },
                                            "footer": {
                                                "text": "Not shown in draft mode"
                                            },
                                            "action": {
                                                "name": "flow",
                                                "parameters": {
                                                    "flow_message_version": "3",
                                                    "flow_action": "navigate",
                                                    "flow_token": "random_user_generated_token",
                                                    "flow_id": "242618178791268",
                                                    "flow_cta": "Not shown in draft mode",
                                                    "mode": "draft",
                                                    "flow_action_payload": {
                                                        "screen": "MY_FIRST_SCREEN",
                                                        "data": {
                                                            "custom_variable": "custom_value"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Interactive - Published Flow": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "recipient_type": "individual",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "flow",
                                            "header": {
                                                "type": "text",
                                                "text": "<HEADER_TEXT>"
                                            },
                                            "body": {
                                                "text": "<BODY_TEXT>"
                                            },
                                            "footer": {
                                                "text": "<FOOTER_TEXT>"
                                            },
                                            "action": {
                                                "name": "flow",
                                                "parameters": {
                                                    "flow_message_version": "3",
                                                    "flow_action": "navigate",
                                                    "flow_token": "random_user_generated_token",
                                                    "flow_id": "1354795268451905",
                                                    "flow_cta": "Open Flow!",
                                                    "flow_action_payload": {
                                                        "screen": "DEMO_SCREEN",
                                                        "data": {
                                                            "custom_variable": "custom_value"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Template - Multi Button": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "multi_button_template",
                                            "components": [
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "lob"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-url"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Carousel": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "recipient_type": "individual",
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "name": "summer_carousel_promo_2023_5",
                                            "language": {
                                                "code": "en_US"
                                            },
                                            "components": [
                                                {
                                                    "type": "BODY",
                                                    "parameters": [
                                                        {
                                                            "type": "TEXT",
                                                            "text": "20OFF"
                                                        },
                                                        {
                                                            "type": "TEXT",
                                                            "text": "20%"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "CAROUSEL",
                                                    "cards": [
                                                        {
                                                            "card_index": 0,
                                                            "components": [
                                                                {
                                                                    "type": "HEADER",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "IMAGE",
                                                                            "image": {
                                                                                "link": "https://images.pexels.com/photos/616838/pexels-photo-616838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "BODY",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "TEXT",
                                                                            "text": "10OFF"
                                                                        },
                                                                        {
                                                                            "type": "TEXT",
                                                                            "text": "10%"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "BUTTON",
                                                                    "sub_type": "QUICK_REPLY",
                                                                    "index": "0",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "PAYLOAD",
                                                                            "payload": "59NqSd"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "card_index": 1,
                                                            "components": [
                                                                {
                                                                    "type": "HEADER",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "IMAGE",
                                                                            "image": {
                                                                                "link": "https://images.pexels.com/photos/326131/pexels-photo-326131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "BODY",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "TEXT",
                                                                            "text": "30OFF"
                                                                        },
                                                                        {
                                                                            "type": "TEXT",
                                                                            "text": "30%"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "BUTTON",
                                                                    "sub_type": "QUICK_REPLY",
                                                                    "index": "0",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "PAYLOAD",
                                                                            "payload": "7C4xhY"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Flow": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "to": "917889379345",
                                        "type": "template",
                                        "template": {
                                            "name": "flow_template",
                                            "language": {
                                                "code": "en_US"
                                            },
                                            "components": [
                                                {
                                                    "type": "button",
                                                    "sub_type": "flow",
                                                    "index": "0",
                                                    "parameters": [
                                                        {
                                                            "type": "action",
                                                            "action": {
                                                                "flow_token": "some_user_generated_token",
                                                                "flow_action_data": {
                                                                    "custom_variable": "custom_value"
                                                                }
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Draft Flow Message": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "to": "917889379345",
                                        "recipient_type": "individual",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "flow",
                                            "header": {
                                                "type": "text",
                                                "text": "Not shown in draft mode"
                                            },
                                            "body": {
                                                "text": "Not shown in draft mode"
                                            },
                                            "footer": {
                                                "text": "Not shown in draft mode"
                                            },
                                            "action": {
                                                "name": "flow",
                                                "parameters": {
                                                    "flow_message_version": "3",
                                                    "flow_action": "navigate",
                                                    "flow_token": "random_user_generated_token",
                                                    "flow_id": "242618178791268",
                                                    "flow_cta": "Not shown in draft mode",
                                                    "mode": "draft",
                                                    "flow_action_payload": {
                                                        "screen": "MY_FIRST_SCREEN",
                                                        "data": {
                                                            "custom_variable": "custom_value"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Template - Coupon Code": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "my_coupon_code_template",
                                            "components": [
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "6-7"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "copy_code",
                                                    "index": 0,
                                                    "parameters": [
                                                        {
                                                            "type": "coupon_code",
                                                            "coupon_code": "FAB20"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Limited Time Offer": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "recipient_type": "individual",
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "name": "limited_time_offer_tem_2",
                                            "language": {
                                                "code": "en"
                                            },
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "image",
                                                            "image": {
                                                                "link": "https://images.pexels.com/photos/616838/pexels-photo-616838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        },
                                                        {
                                                            "type": "text",
                                                            "text": "20%"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "limited_time_offer",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "1234"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "copy_code",
                                                    "index": 0,
                                                    "parameters": [
                                                        {
                                                            "type": "coupon_code",
                                                            "coupon_code": "FAB20"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-url"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        }
                    },
                    "description": "Send Message Payload"
                },
                "tags": [
                    "Messages"
                ]
            },
            "post - copy 8": {
                "summary": "Send Message",
                "operationId": "post-project-project_id-messages",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messaging_product": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "input": {
                                                        "type": "string"
                                                    },
                                                    "wa_id": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "messages": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "messaging_product": "whatsapp",
                                            "contacts": [
                                                {
                                                    "input": "918851944381",
                                                    "wa_id": "918851944381"
                                                }
                                            ],
                                            "messages": [
                                                {
                                                    "id": "wamid.HBgMOTE4ODUxOTQ0MzgxFQIAERgSRkMwRDFGM0FCRDI5ODVEREQ3AA=="
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "messaging_product": "whatsapp",
                                        "recipient_type": "individual",
                                        "to": "{{Recipient-Phone-Number}}",
                                        "type": "template",
                                        "text": {
                                            "preview_url": false,
                                            "body": "text-message-content"
                                        },
                                        "image": {
                                            "link": "http(s)://image-url"
                                        },
                                        "document": {
                                            "link": "<http(s)://document-url>",
                                            "caption": "<DOCUMENT_CAPTION_TEXT>"
                                        },
                                        "template": {
                                            "name": "template-name",
                                            "language": {
                                                "code": "language-and-locale-code"
                                            },
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "image",
                                                            "image": {
                                                                "link": "http(s)://the-image-url"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "text-string"
                                                        },
                                                        {
                                                            "type": "currency",
                                                            "currency": {
                                                                "fallback_value": "$100.99",
                                                                "code": "USD",
                                                                "amount_1000": 100990
                                                            }
                                                        },
                                                        {
                                                            "type": "date_time",
                                                            "date_time": {
                                                                "fallback_value": "February 25, 1977",
                                                                "day_of_week": 5,
                                                                "year": 1977,
                                                                "month": 2,
                                                                "day_of_month": 25,
                                                                "hour": 15,
                                                                "minute": 33,
                                                                "calendar": "GREGORIAN"
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "properties": {
                                    "messaging_product": {
                                        "type": "string"
                                    },
                                    "recipient_type": {
                                        "type": "string"
                                    },
                                    "to": {
                                        "type": "string"
                                    },
[...]
